{{ form_start(form, {'attr': {'class': 'ut26uw js-filter-form'}}) }}
<div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">
<span class="visually-hidden">Loading...</span>
</div>
{{ form_row(form.programDateAt) }}
<div class="q7n7wn">
	<div class="box-label text-uppercase">
		{{ form_row(form.q) }}
	</div>
</div>
<button class="btn btn-outline-success mb-3" id="submit-filter">Filtrer</button>
{{ form_end(form) }}
