<div class="py-4">
	<div class="grid-reservation">
		<div class="d-flex first-col-reservation">
			<div class="mt-2 mb-4">
				<div class="svg-reservation"></div>
			</div>
			<div class="text-start mb-2">
				<span class="first-title-reservation">
					Pas de billet réservé... pour l'instant&nbsp;!
				</span>
			</div>
			<div class="text-start mb-2">
				<span class="second-title-reservation">
					Il est temps de ressortir vos jeans et baskets et de préparer votre prochaine aventure.
				</span>
			</div>
			<div class="w-auto mt-3">
				<a href="{{path('app_ticket')}}" class="btn btn-secondary btn-lg">Lancer une recherche</a>
			</div>
		</div>
		<div class="second-col-reservation position-relative">
			<div class="background-no-reservation"></div>
		</div>
	</div>
