{% extends 'base.html.twig' %}

{% block title %}FAQ
{% endblock %}

{% block body %}
	<section class="legal py-5">
		<div class="container">
			<div class="text-start">
				<header>
					<h2 class="title-legal mb-4" style="text-align: center;">
						Foire aux questions
					</h2>
				</header>
				<div class="content-legal">
					<div class="mb-3">
						<strong>Attention aux faux billets</strong>
                        <br>
						<p>
							N’achetez vos places que dans les points de vente officiels cités ci-dessus. La loi n° 2012-348 du 12 mars 2012 protège les spectateurs contre la revente de billets par toute société ou personne physique non agréée par le producteur du spectacle. En application de cette loi (article 313-6-2 du code pénal), il est interdit de revendre des billets de spectacles en dehors des points agréés et sans l’autorisation expresse du producteur du spectacle. Préférez les réseaux officiels afin de payer un prix juste et d’avoir l’assurance de profiter du festival. Ne diffusez pas de photos de vos billets ! Attention aux réseaux sociaux (Facebook, Twitter, Instagram…). Ne diffusez pas de photo de votre billet. Des personnes pourraient le recopier et vous ne pourriez plus utiliser votre billet.Une solution de revente officielle et sécurisée sera mise en place prochainement, n’achetez pas de billets sur les réseaux sociaux ou des sites tels que Le Bon Coin.
						</p>
					</div>
					<div class="mb-3">
						<strong>Pas de Liquide</strong>
                        <br>
						<p>
							Un système de paiement cashless vous permettra de payer sur tous les bars, stands de restauration et boutiques du festival. Nous vous recommandons de charger votre compte avant le festival. Plus d’informations seront disponibles à l’approche du festival..
						</p>
					</div>
					<div class="mb-3">
						<strong>Controle de securité</strong>
                        <br>
						<p>A l’entrée du festival, toutes les personnes et les sacs seront contrôlés. Cela peut prendre du temps. Pensez à arriver en avance !
						</p>
					</div>

					<div class="mb-3">
						<strong>Poste medicaux</strong>
                        <br>
						<p>
							Des postes médicaux sont installés dans différents lieux du festival. Ces postes sont bien visibles et tout le monde peut s’y présenter pour demander un avis ou une aide médicale. Des ordonnances ne pourront pas être données, mais des soins d’urgence seront accessibles. Si besoin, la personne pourra être orientée vers un médecin ou l’hôpital.
						</p>
					</div>

					<div class="mb-3">
						<strong>Comportement pendant les concerts</strong>
                        <br>
						<p>
							La Tout est organisé pour protéger les festivaliers des mouvements de foule (bousculades…), devant les scènes. Pour la sécurité de tous, le crowd-surfing (s’allonger sur les bras levés des spectateurs) est interdit. Il est aussi interdit, pendant le festival, d’être agressif par des gestes ou par des mots. En cas de problème, de non-respect de la loi, la personne devra quitter le festival. Elle sera prise en charge par les forces de l’ordre.
						</p>
					</div>

					<div class="mb-3">
						<strong>Accès et places PMR</strong>
                        <br>
						<p>
							Pour les PMR, des plateformes vont être installées en fond de scène. Merci de vous présenter à l’entrée du festival pour que l’on puisse vous guider à ces emplacements.
						</p>
					</div>

					<div class="mb-3">
						<strong>Les concerts sont-ils maintenus s'il pleut ?</strong>
                        <br>
						<p>
							Un remboursement sera effectué en cas d’annulation totale de la soirée.
						</p>
					</div>

					<div class="mb-3">
						<strong>Age limite</strong>
                        <br>
						<p>
							Non il n’y a pas de limite d’âge, mais nous déconseillons aux enfants de moins de 3 ans de venir dans l’enceinte du festival.
						</p>
					</div>
                    <div class="mb-3">
						<strong>Pour toute autres questions n'hesiter pas à nous contacter</strong>
                        <br>
						<p>
							Dans l'optique où vous ne trouvez pas réponse à vos questions au sein de l'application, vous pouvez nous contacter par mail à cette adresse : <a href="mailto:contact@nationsound.com">contact@nationsound.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
