{% extends 'base.html.twig' %}

{% block title %}Partenaires
{% endblock %}

{% block body %}
	<div class="container-fluid mt-5">
		<h1 class="text-center mb-4">Nos Partenaires</h1>
		<h2 class="text-center mb-4">Devenez partenaire de Nation Sound et rejoignez une aventure musicale unique qui célèbre la scène internationnal depuis plus de 40 ans !
		</h2>
	</div>
	<div class="container-fluid mt-5">
		<h2 class="text-center mb-4">Institutionnels</h2>
	</div>
      
	<div class="container-fluid mt-4">
		<div class="row justify-content-center">
			<a href="https://www.culture.gouv.fr/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
				<div class="card mb-2 shadow-sm" style="width: 100px;">
					<img src="images/Partenaires/Culture.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
				</div>
			</a>
			<a href="https://cnm.fr/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
				<div class="card mb-2 shadow-sm" style="width: 100px;">
					<img src="images/Partenaires/National.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
				</div>
			</a>
			<a href="https://www.nouvelle-aquitaine.fr/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
				<div class="card mb-2 shadow-sm" style="width: 100px;">
					<img src="images/Partenaires/Nouvelle-aquitaine.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
				</div>
			</a>
			<a href="https://la.charente-maritime.fr/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
				<div class="card mb-2 shadow-sm" style="width: 100px;">
					<img src="images/Partenaires/Lacharentemaritime.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
				</div>
			</a>
			<a href="https://www.larochelle.fr/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
				<div class="card mb-2 shadow-sm" style="width: 100px;">
					<img src="images/Partenaires/Larochelle.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
				</div>
			</a>
			<a href="https://www.securite-routiere.gouv.fr/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
				<div class="card mb-2 shadow-sm" style="width: 100px;">
					<img src="images/Partenaires/sam.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
				</div>
			</a>
			<a href="https://www.diplomatie.gouv.fr/fr/politique-etrangere-de-la-france/francophonie-et-langue-francaise/la-france-accueille-le-xixe-sommet-de-la-francophonie-sous-le-signe-de-la/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
				<div class="card mb-2 shadow-sm" style="width: 100px;">
					<img src="images/Partenaires/festival.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
				</div>
			</a> 
      </div>
      </div>

			<div class="container-fluid mt-5">
				<h2 class="text-center mb-4">Privés</h2>
			</div>

			<div class="container-fluid mt-4">
				<div class="row justify-content-center">
					<a href="https://www.creditmutuel.fr/cmo/fr/groupe/accueil.html" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
						<div class="card mb-2 shadow-sm" style="width: 100px;">
							<img src="images/Partenaires/Crédit.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
						</div>
					</a>
					<a href="https://www.cultura.com/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
						<div class="card mb-2 shadow-sm" style="width: 100px;">
							<img src="images/Partenaires/cultura.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
						</div>
					</a>
					<a href="https://particuliers.engie.fr/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
						<div class="card mb-2 shadow-sm" style="width: 100px;">
							<img src="images/Partenaires/engie.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
						</div>
					</a>
					<a href="https://www.riffx.fr/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
						<div class="card mb-2 shadow-sm" style="width: 100px;">
							<img src="images/Partenaires/riff.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
						</div>
					</a>
					<a href="https://www.vico.fr/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
						<div class="card mb-2 shadow-sm" style="width: 100px;">
							<img src="images/Partenaires/vico.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
						</div>
					</a>
					<a href="https://www.citeo.com/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
						<div class="card mb-2 shadow-sm" style="width: 100px;">
							<img src="images/Partenaires/citeo.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
						</div>
					</a>
					<a href="https://www.coca-cola.com/fr/fr" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
						<div class="card mb-2 shadow-sm" style="width: 100px;">
							<img src="images/Partenaires/coca.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
						</div>
					</a>
          </div>
      </div>
					<div class="container-fluid mt-5">
						<h2 class="text-center mb-4">Médias</h2>
					</div>

					<div class="container-fluid mt-4">
						<div class="row justify-content-center">
							<a href="https://www.france.tv/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
								<div class="card mb-2 shadow-sm" style="width: 100px;">
									<img src="images/Partenaires/francetv.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
								</div>
							</a>
							<a href="https://www.radiofrance.fr/franceinter" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
								<div class="card mb-2 shadow-sm" style="width: 100px;">
									<img src="images/Partenaires/interfrance.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
								</div>
							</a>
							<a href="https://www.francebleu.fr/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
								<div class="card mb-2 shadow-sm" style="width: 100px;">
									<img src="images/Partenaires/ici.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
								</div>
							</a>
							<a href="https://www.leparisien.fr/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
								<div class="card mb-2 shadow-sm" style="width: 100px;">
									<img src="images/Partenaires/parisien.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
								</div>
							</a>
							<a href="https://www.tv5monde.com/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
								<div class="card mb-2 shadow-sm" style="width: 100px;">
									<img src="images/Partenaires/tv5.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
								</div>
							</a>
							<a href="https://le1hebdo.fr/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
								<div class="card mb-2 shadow-sm" style="width: 100px;">
									<img src="images/Partenaires/le1hebdo.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
								</div>
							</a>
							<a href="https://www.europe2.fr/" target="_blank" class="col-lg-1 col-md-2 col-sm-3 col-4 text-decoration-none">
								<div class="card mb-2 shadow-sm" style="width: 100px;">
									<img src="images/Partenaires/europe.jpg" class="card-img-top" alt="Carte 1" style="height: 100px; object-fit: cover;">
								</div>
							</a>
              </div>
      </div>
						{% endblock %}
