@font-face {
    font-family: AirbnbCereal;
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/AirbnbCereal_W_Lt.otf);
    font-display: swap;
}

body {
    font-family: AirbnbCereal, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.jyoYKi {
    min-height: 570px;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar {
    align-items: center !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    padding-bottom: .5rem !important;
    padding-top: .5rem !important;
    position: relative !important;
}

.container-fluid {
    max-width: 1440px;
}

.container-fluid {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

@media (min-width: 576px) {
    .container-fluid {
        padding-right: 32px !important;
        padding-left: 32px !important;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        padding-right: 48px !important;
        padding-left: 48px !important;
    }
}

.btn-connect {
    background-color: #325d88 !important;
    border-color: #325d88 !important;
}

.btn-connect:hover {
    color: #FFF !important;
    background-color: #2b4f74 !important;
    border-color: transparent !important;
}

.dropdown-user {
    font-size: 13px;
    letter-spacing: 0em;
    line-height: 22px;
    text-transform: uppercase;
    color: rgb(26, 38, 45) !important;
    outline: none;
    font-weight: 600 !important;
    text-decoration: none;
    border-radius: 8px !important;
    padding: 4px 8px !important;
}

.dropdown-user:hover,
.dropdown-user:focus,
.dropdown-user:active {
    color: rgb(26, 38, 45) !important;
    background-color: rgb(237, 239, 240) !important;
    text-decoration: none;
}

.space-between {
    height: 0px;
    border-top: 1px solid rgb(213, 215, 217);
}

.color-btn-logout {
    color: rgba(26, 38, 45, 0.6) !important;
}

.color-btn-logout:hover,
.color-btn-logout:focus,
.color-btn-logout:active {
    color: rgb(26, 38, 45) !important;
    background-color: rgb(237, 239, 240) !important;
    text-decoration: none;
}

.btn-dropdown-user {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0px;
}

/*--------------------------------------------------------------
# Iframe
--------------------------------------------------------------*/
.map-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #3460ce;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #6776f4;
    color: #fff;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Login page
--------------------------------------------------------------*/
.card-fill {
    background-color: #fff !important;
    background-clip: border-box !important;
    border: 1px solid #d5d7d9 !important;
    border-radius: 0.5rem !important;
    flex: 1 1 auto !important;
}

.card-fill .card-body {
    display: flex;
    align-items: center;
    padding: 20px !important;
}

@media (min-width: 576px) {
    .card-fill .card-body {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
        padding-left: 28px !important;
        padding-right: 28px !important;
    }
}

.my-8 {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}

.lh-label {
    line-height: 1.35rem;
}

.form-control-login {
    height: calc(1.75em + 0.875rem + 2px) !important;
    padding: 0.4375rem 1rem !important;
    line-height: 1.75 !important;
    color: #0d161b !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #d5d7d9 !important;
    border-radius: 0.5rem !important;
}

.form-control-login::-webkit-input-placeholder {
    color: #9ea2a4 !important;
}

.form-control-login::-moz-placeholder {
    color: #9ea2a4 !important;
}

.form-control-login:-ms-input-placeholder {
    color: #9ea2a4 !important;
}

.form-control-login::-ms-input-placeholder {
    color: #9ea2a4 !important;
}

.form-control-login::placeholder {
    color: #9ea2a4 !important;
}

.form-control-login:focus {
    color: #0d161b !important;
    background-color: #fff !important;
    border-color: #0d161b !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.1875rem #d5d7d9 !important;
}

form:invalid button.btn-dark[type=submit],
.btn-dark:disabled {
    color: #fff;
    background-color: #0d161b;
    border-color: #0d161b;
    opacity: 0.4;
}

.text-muted a {
    color: #53595c !important;
}

/*--------------------------------------------------------------
# Registration page
--------------------------------------------------------------*/
.text-very-weak {
    color: #842029;
    font-weight: 600;
}

.text-weak {
    color: #dc3545;
    font-weight: 600;
}

.text-medium {
    color: #fd7e14;
    font-weight: 600;
}

.text-strong {
    color: #20c997;
    font-weight: 600;
}

.text-very-strong {
    color: #198754;
    font-weight: 600;
}

/*--------------------------------------------------------------
# Carte billet
--------------------------------------------------------------*/
.b92606 {
    border: 0 !important;
}

.e695de {
    border-bottom: 0 !important;
}

.cd7a33 {
    border-radius: 0.375rem;
    border: 1px solid rgba(0, 0, 0, 0.175);
}

/*--------------------------------------------------------------
# Profil Page
--------------------------------------------------------------*/
.account {
    overflow: hidden;
}

.tab-content {
    min-height: 455px;
}

.account .nav-link,
.password .nav-link {
    border: 0 !important;
    padding: 12px 15px 12px;
    transition: 0.3s;
    color: #2c4964 !important;
    border-radius: 0;
    border-bottom: 2px solid #ebf1f6 !important;
    font-weight: 600;
    font-size: 15px;
    min-width: 90px;
    text-align: center;
    text-transform: uppercase;
}

.account .nav-link:hover,
.password .nav-link:hover {
    color: #1977cc;
}

.account .nav-link.active,
.password .nav-link.active {
    color: #1977cc !important;
    border-color: #1977cc !important;
}

.account .tab-pane.active,
.password .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}

.text-h6 {
    font-size: 1.25rem !important;
    font-weight: 700;
    line-height: 1.7rem;
    letter-spacing: .0019rem !important;
    text-transform: none !important;
    color: rgb(97, 104, 110);
}

.link-modal-email {
    color: #1977cc;
    position: absolute;
    bottom: -10px;
}

.font-m {
    line-height: 24px;
    font-size: 14px !important;
}

.bold {
    font-weight: 700 !important;
}

.form-register {
    border: 0 solid #fff !important;
    border-bottom: 1px solid #ababab !important;
    border-radius: 0 !important;
    font-size: 14px;
    font-weight: 300 !important;
    height: calc(1.5em + .75rem + 2px);
    background-color: #1c1e21;
    color: inherit;
    font-size: 15px !important;
    height: 50px !important;
}

.form-register,
.has-content {
    padding: .375rem .75rem .375rem 0 !important;
}

.form-register:focus {
    background-color: #25272a;
    border-color: #1977cc !important;
    box-shadow: none;
    color: #fff;
}

.effect-17,
.form-register:focus {
    background-color: transparent !important;
}

.form-register:focus {
    box-shadow: 0 0 0 0 #fff !important
}

.newmail {
    color: #3b3f4a !important
}

.email_change {
    background: #1977cc !important;
    border: none !important;
    border-radius: 4px !important;
    color: #fff !important;
    cursor: pointer;
    font-size: .9rem !important;
    margin: 24px 0 12px !important;
    padding: 16px !important;
    width: 100%;
    text-transform: uppercase;
}

.email_change:hover {
    background-color: #1977cc !important;
    border-color: none !important;
    color: #212529 !important;
}

.text-body-3 {
    margin: 0;
    padding: 0;
    line-height: 1.3125rem;
    letter-spacing: .0156rem !important;
    text-transform: none !important;
    color: rgb(72, 77, 81);
}

.password .form-control:focus {
    box-shadow: 0 0 0 0 #fff !important;
    background-color: transparent;
    border-color: rgb(97, 104, 110);
    border: 2px solid;
}

.password .form-control:hover {
    border-color: rgb(97, 104, 110);
}

.prepend-input {
    padding-left: 40px !important;
}

.prepend-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
}

.togglePassword {
    cursor: pointer;
}

.advice-change-password {
    padding: 15px;
    font-size: 0.875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
    margin-top: -7px;
    z-index: 300;
    background-color: #fff;
}

.avatar .card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d5d7d9;
    border-radius: 0.5rem;
}

.avatar .card-header {
    margin-bottom: 0;
    background-color: transparent;
}

.grid-credentials {
    display: grid;
    gap: 32px;
    grid-template-areas: "header";
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 992px) {
    .grid-credentials {
        grid-template-areas: "header header";
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid-credentials {
        grid-template-areas: "header header header";
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-header-credentials {
    grid-area: header / header / header / header;
    margin-bottom: 16px;
}

.btn-transparent-grey {
    background-color: transparent;
    border-color: transparent;
    color: #53595c;
}

.btn-transparent-grey:hover {
    color: #53595c;
    background-color: #edeff0;
    border-color: rgba(0, 0, 0, 0);
}

.btn-transparent-grey:focus,
.btn-transparent-grey:active {
    color: #53595c !important;
    box-shadow: 0 0 0 0.1875rem rgba(83, 89, 92, 0.5) !important;
}

.modal-delete-title {
    font-size: 1.1875rem;
    color: #0d161b;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1.35rem;
}

.modal-delete-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 2rem;
    padding-bottom: 0 !important;
    border-bottom: 0 solid #d5d7d9;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.modal-body-delete {
    padding: 2rem;
}

.mb-8 {
    margin-bottom: 32px !important;
}

.custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.75rem;
    padding-left: 2rem;
    print-color-adjust: exact;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.custom-control.custom-checkbox .custom-control-label {
    line-height: 1.75;
    font-weight: 400;
    cursor: pointer;
}

.custom-control-label::before {
    position: absolute;
    top: 0.125rem;
    left: -2rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 1px solid #d5d7d9;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0.375rem;
}

.custom-control-label::after {
    position: absolute;
    top: 0.125rem;
    left: -2rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    content: "";
    background: 50%/100% 100% no-repeat;
}

.custom-control-input:not(.is-invalid):focus~.custom-control-label::before {
    border-color: #0d161b;
    box-shadow: 0 0 0 0.1875rem #d5d7d9;
}

.custom-control-input:not(.is-invalid):not(:disabled):active~.custom-control-label::before {
    background-color: #edeff0;
    border-color: #d5d7d9;
}

.custom-control-input:not(.is-invalid):checked~.custom-control-label::before {
    background-color: #0d161b !important;
    border-color: #0d161b !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url(../img/check.svg);
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1.5rem;
    height: 1.625rem;
    opacity: 0;
}

.modal-footer-delete {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0 2rem 2rem 2rem;
    border-top: 0 solid #d5d7d9;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.img-preview {
    -o-object-fit: cover;
    object-fit: cover;
    width: 50%;
    margin-top: 16px;
}

.vich-image img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 50%;
}

.toggle-password-button {
    top: -1.6rem !important;
}

/*--------------------------------------------------------------
# ResetPassword page
--------------------------------------------------------------*/
.text-lg {
    font-size: 1.125rem !important;
    line-height: 1.7777777778 !important
}

/*--------------------------------------------------------------
# 2fa page
--------------------------------------------------------------*/
.label-for-2fa {
    line-height: 1.35rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.form-2fa-text {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.875rem !important;
    line-height: 1.7142857143 !important;
    font-weight: 400;
}

.form-control-2fa {
    display: block;
    width: 100%;
    height: calc(1.75em + 0.875rem + 2px);
    padding: 0.4375rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    color: #0d161b;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d5d7d9;
    border-radius: 0.5rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control-2fa:focus {
    color: #0d161b;
    background-color: #fff;
    border-color: #0d161b;
    outline: 0;
    box-shadow: 0 0 0 0.1875rem #d5d7d9;
}

.custom-control-label-2fa {
    font-weight: 400;
    cursor: pointer;
    line-height: 1.75;
    color: #0d161b;
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.custom-control-2fa {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.75rem;
    padding-left: 2rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.custom-control-input-2fa {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1.5rem;
    height: 1.625rem;
    opacity: 0;
}

.custom-control-label-2fa::before {
    position: absolute;
    top: 0.125rem;
    left: -2rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 1px solid #d5d7d9;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 0.375rem;
}

.custom-control-label-2fa::after {
    position: absolute;
    top: 0.125rem;
    left: -2rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    content: "";
    background: 50%/100% 100% no-repeat;
}

.custom-control-input-2fa:not(.is-invalid):checked~.custom-control-label-2fa::before {
    background-color: #0d161b !important;
    border-color: #0d161b !important;
}

.custom-control-input-2fa:checked~.custom-control-label-2fa::after {
    background-image: url(../img/check.svg);
}

/*--------------------------------------------------------------
# Program Index
--------------------------------------------------------------*/
.custom-container-main {
    padding-top: 0;
    max-width: none !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
}

.f12t1m0s {
    -webkit-padding-start: 40px;
    padding-inline-start: 40px;
    -webkit-padding-end: 40px;
    padding-inline-end: 40px;
    margin-inline: auto;
    -webkit-margin-before: 16px;
    margin-block-start: 16px;
    -webkit-margin-after: 72px;
    margin-block-end: 72px;
    max-width: 2520px;
    width: 100%;
}

.atm_dl_1mvrszh {
    grid-gap: var(--breakpoint-grid_row-gap, 0) var(--breakpoint-grid_column-gap, 0);
}

.atm_1d13e1y_p5ox87 {
    --breakpoint-grid_column-gap: var(--linaria-theme_spacing-macro24px);
}

.atm_10yczz8_kb7nvz {
    --breakpoint-grid_columns: 1;
}

.atm_yrukzc_1od0ugv {
    --breakpoint-grid_row-gap: var(--linaria-theme_spacing-macro40px);
}

.atm_9s_11p5wf0 {
    display: grid;
}

.atm_d7_1ymvx20 {
    grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
    grid-auto-rows: minmax(min-content, max-content);
}

.atm_d5_j5tqy {
    grid-auto-flow: row dense;
}

.atm_dz_hxz02 {
    grid-template-columns: repeat(var(--breakpoint-grid_columns, 1), minmax(0, 1fr));
}

@media (min-width: 550px) {
    .atm_10yczz8_cs5v99__1ldigyt {
        --breakpoint-grid_columns: 2;
    }
}

@media (min-width: 950px) {
    .atm_10yczz8_11wpgbn__1v156lz {
        --breakpoint-grid_columns: 3;
    }
}

@media (min-width: 1128px) {
    .atm_10yczz8_egatvm__qky54b {
        --breakpoint-grid_columns: 4;
    }
}

@media (min-width: 1640px) {
    .atm_10yczz8_qfx8er__1xolj55 {
        --breakpoint-grid_columns: 5;
    }
}

@media (min-width: 1880px) {
    .atm_10yczz8_ouytup__w5e62l {
        --breakpoint-grid_columns: 6;
    }
}

.atm_dz_1osqo2v {
    grid-template-columns: 100%;
}

.c1l1h97y {
    grid-area: 1 / 1 / 2 / 2;
}

.cy5jw6o {
    box-shadow: none;
    border-radius: var(--linaria-theme_corner-radius-medium12px-border-radius);
    position: relative;
    width: auto;
    min-width: 0;
    max-width: none;
}

.stnw88a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: var(--linaria-theme_corner-radius-medium12px-border-radius);
    background: transparent;
    border: none;
    left: 0;
    outline: none;
    display: block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.lxq01kf {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
}

.m1v28t5c {
    margin-bottom: var(--linaria-theme_spacing-micro12px);
    --aspect_ratio_wrapper-position_fallback: relative;
    --aspect_ratio_wrapper-padding_fallback: 95%;
    --aspect_ratio_wrapper-ratio: 20/19;
}

.c14dgvke {
    position: relative;
    background-color: var(--linaria-theme_palette-border-primary-disabled);
    border-radius: var(--linaria-theme_corner-radius-medium12px-border-radius);
    overflow: hidden;
    z-index: 0;
    pointer-events: auto;
}

@supports (overflow:clip) {
    .c14dgvke {
        overflow: clip;
    }
}

.atm_dx_1orwtfw {
    grid-template-rows: minmax(290px, -webkit-max-content);
    grid-template-rows: minmax(290px, max-content);
}

.s1yvqyx7 {
    -webkit-margin-before: unset;
    margin-block-start: unset;
    -webkit-margin-after: unset;
    margin-block-end: unset;
}

.s47hgt8 {
    display: block;
    text-decoration: none;
    height: 100%;
    color: transparent;
}

.d1l1iq8f {
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 1px;
    vertical-align: bottom;
}

.idpfg47 {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.fb4nyux {
    position: absolute;
    bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.85) 100%);
}

.df3734e {
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.85) 100%);

}

.t6mzqp7 {
    flex: 1 0 0%;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    text-overflow: ellipsis;
    color: rgb(252, 234, 203);
    font-size: 30px;
    font-weight: bold;
}

.r87loi5 {
    color: rgb(252, 234, 203);
}

@supports (overflow:clip) {
    .t6mzqp7 {
        overflow: clip;
    }
}

/*--------------------------------------------------------------
# Program Detail
--------------------------------------------------------------*/
.pp5axk {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

@media (min-width: 696px) {
    .pp5axk {
        flex-direction: row;
    }
}

.a7re76 {
    flex: 1 0 0%;
    padding-right: 0px;
}

@media (min-width: 696px) {
    .a7re76 {
        padding-right: 40px;
    }
}

.sibihh {
    flex: 1 0 0%;
}

.erqbbn {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 696px) {
    .erqbbn {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.sex59f {
    color: rgb(36, 20, 41);
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 40px;
    line-height: 100%;
}

@media (min-width: 696px) {
    .sex59f {
        font-size: 4em;
    }
}

.isdr9p {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 15px;
    background-color: rgb(36, 20, 41);
    color: #FFFFFF;
    border-color: rgb(36, 20, 41);
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
}

.fn4g7z {
    margin-bottom: 20px;
}

.ag7k35 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0px;
}

.aegpyl {
    font-size: 1.3em;
}

.hj6w7z {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: initial;
    overflow-wrap: initial;
}

.jzoutu {
    border-radius: 10px;
}

.pcb3o4 {
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(36, 20, 41);
    color: #FFFFFF;
    border-color: rgb(36, 20, 41);
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    height: 3em;
    line-height: 3em;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 60px;
}

.nct4jq {
    margin-top: 40px;
    display: flex;
    flex-flow: wrap;
}

.r57cz5 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(36, 20, 41);
    border-color: rgb(36, 20, 41);
    border-width: 1px;
    border-style: solid;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.r57cz5 * {
    height: 20px;
}

.x4zthd {
    padding-top: 56.25%;
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 10px;
    overflow: hidden;
}

.qs08ql {
    position: absolute;
    inset: 0px;
    border-radius: 10px;
    overflow: hidden;
}

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/
.ut26uw {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center
}

@media (min-width: 696px) {
    .ut26uw {
        flex-direction: row;
        margin-top: 6rem;
    }
}

#programDateAt {
    display: flex;
    gap: 10px;
    padding-top: 1rem;
    flex-wrap: wrap;
    margin-right: auto;
    margin-bottom: 10px;
}

@media (min-width: 786px) {
    #programDateAt {
        justify-content: space-between;
        /* gap: 10px; */
    }
}

#programDateAt .form-check {
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: rgb(252, 234, 203);
    padding-left: 15px;
    padding-right: 15px;
    border-color: rgb(36, 20, 41);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    height: 3em;
    line-height: 3em;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

#programDateAt .form-check input[type="radio"] {
    display: none;
}

#programDateAt .form-check label {
    cursor: pointer;
    display: inline-block;
}

.q7n7wn {
    width: 100%;
}

@media (min-width: 696px) {
    .q7n7wn {
        width: 30%;
    }
}

.js-filter-courses-pagination .page-link {
    color: #212529;
}

.js-filter-courses-pagination .page-link:hover {
    color: #000000;
}

.js-filter-courses-pagination .page-link:focus {
    color: #212529;
}

.js-filter-courses-pagination .active>.page-link, .page-link.active {
    background-color: #212529;
    border-color: #212529;
}

#programDateAt .vxvpze {
    background-color: rgb(36, 20, 41);
    color: rgb(252, 234, 203);
}

/*--------------------------------------------------------------
# Tickets index
--------------------------------------------------------------*/
.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: auto;
}

.qc7n4 {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.udr94d {
    position: absolute;
    margin: auto;
    top: -20%;
    right: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #000000;
    overflow: hidden;
}

.zsx8jc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}

.m1drx3 {
    height: 96px;
}

@media (min-width: 1128px) {
    .atm_10yczz8_egatvm__qky54c {
        --breakpoint-grid_columns: 3;
    }
}

/*--------------------------------------------------------------
# Checkout CSS STRIPE
--------------------------------------------------------------*/
#payment-form {
    width: 30vw;
    min-width: 500px;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
        0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
}

.hidden {
    display: none;
}

#payment-message {
    color: rgb(105, 115, 134);
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
}

#payment-element {
    margin-bottom: 24px;
}

/* Buttons and links */
#submit {
    background: #5469d4;
    font-family: Arial, sans-serif;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
}

#submit:hover {
    -webkit-filter: contrast(115%);
    filter: contrast(115%);
}

#submit:disabled {
    opacity: 0.5;
    cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
    border-radius: 50%;
}

.spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    transform: translateZ(0);
}

.spinner:before,
.spinner:after {
    position: absolute;
    content: "";
}

.spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #5469d4;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #5469d4;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    #payment-form {
        width: 80vw;
        min-width: initial;
    }
}

  /*--------------------------------------------------------------
  # Spinner
  --------------------------------------------------------------*/
  .is-loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    opacity: 0.5;
    z-index: 4;
  }
  
  .is-loading .spinner-border {
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    z-index: 5;
  }

/*--------------------------------------------------------------
# Alert Messages
--------------------------------------------------------------*/
  .message-alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
    --bs-alert-border-radius: var(--bs-border-radius);
    --bs-alert-link-color: inherit;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
  }

/*--------------------------------------------------------------
# No booking
--------------------------------------------------------------*/
.grid-reservation {
    display: grid;
    overflow: hidden;
    grid-column-gap: 16px;
    border: 1px solid #dddddd;
    border-radius: 12px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  @media (min-width: 744px) {
    .grid-reservation {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 1128px) {
    .grid-reservation {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  
  .first-col-reservation {
    grid-column: span 1;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    align-items: flex-start;
  }

  .svg-reservation {
    display: block;
    height: 48px;
    width: 48px;
    fill: rgb(227, 28, 95);
    background-image: url('../img/hand.svg');
  }

  .first-title-reservation {
    max-width: 100%;
    font-size: 1.125rem;
    color: #222222;
    line-height: 1.375rem;
    font-weight: 600;
  }
  
  .second-title-reservation {
    max-width: 100%;
    font-size: 0.875rem;
    color: #6A6A6A;
    line-height: 1.25rem;
    font-weight: 400;
  }

  .second-col-reservation {
    grid-column: span 1;
    overflow: hidden;
  }
  
  @media (max-width: 744px) {
    .second-col-reservation {
      display: none;
    }
  }
  
  @media (min-width: 1128px) {
    .second-col-reservation {
      grid-column: span 2;
    }
  }

  .background-no-reservation {
    width: auto;
    height: 100%;
    background-repeat: no-repeat;
    min-height: 1px;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url('../img/no-reservation.webp');
  }

/*--------------------------------------------------------------
# Root
--------------------------------------------------------------*/
:root {
    --linaria-theme_corner-radius-tiny4px-border-radius: 4px;
    --linaria-theme_corner-radius-small8px-border-radius: 8px;
    --linaria-theme_corner-radius-medium12px-border-radius: 12px;
    --linaria-theme_corner-radius-large16px-border-radius: 16px;
    --linaria-theme_corner-radius-xlarge20px-border-radius: 20px;
    --linaria-theme_elevation-high-box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
    --linaria-theme_elevation-high-border: 1px solid rgba(0, 0, 0, 0.04);
    --linaria-theme_elevation-primary-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    --linaria-theme_elevation-primary-border: 1px solid rgba(0, 0, 0, 0.04);
    --linaria-theme_elevation-secondary-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    --linaria-theme_elevation-secondary-border: 1px solid rgba(0, 0, 0, 0.04);
    --linaria-theme_elevation-sharp-edge-background: rgba(0, 0, 0, 0.08);
    --linaria-theme_elevation-tertiary-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    --linaria-theme_elevation-tertiary-border: 1px solid rgba(0, 0, 0, 0.08);
    --linaria-theme_motion-springs-fast-duration: 667ms;
    --linaria-theme_motion-springs-fast-easing: linear(0, 0.01942 1.83%, 0.07956 4.02%, 0.47488 13.851%, 0.65981 19.572%, 0.79653 25.733%, 0.84834 29.083%, 0.89048 32.693%, 0.9246 36.734%, 0.95081 41.254%, 0.97012 46.425%, 0.98361 52.535%, 0.99665 68.277%, 0.99988);
    --linaria-theme_motion-springs-fast-source-mass: 1px;
    --linaria-theme_motion-springs-fast-source-damping: 35px;
    --linaria-theme_motion-springs-fast-source-stiffness: 300px;
    --linaria-theme_motion-springs-standard-duration: 667ms;
    --linaria-theme_motion-springs-standard-easing: linear(0, 0.00506 1.18%, 0.02044 2.46%, 0.08322 5.391%, 0.46561 17.652%, 0.63901 24.342%, 0.76663 31.093%, 0.85981 38.454%, 0.89862 42.934%, 0.92965 47.845%, 0.95366 53.305%, 0.97154 59.516%, 0.99189 74.867%, 0.9991);
    --linaria-theme_motion-springs-standard-source-mass: 1px;
    --linaria-theme_motion-springs-standard-source-damping: 26px;
    --linaria-theme_motion-springs-standard-source-stiffness: 175px;
    --linaria-theme_motion-springs-medium-bounce-duration: 833ms;
    --linaria-theme_motion-springs-medium-bounce-easing: 0, 0.00541 1.29%, 0.02175 2.68%, 0.04923 4.19%, 0.08852 5.861%, 0.17388 8.851%, 0.48317 18.732%, 0.57693 22.162%, 0.65685 25.503%, 0.72432 28.793%, 0.78235 32.163%, 0.83182 35.664%, 0.87356 39.354%, 0.91132 43.714%, 0.94105 48.455%, 0.96361 53.705%, 0.97991 59.676%, 0.9903 66.247%, 0.99664 74.237%, 0.99968 84.358%, 1.00048;
    --linaria-theme_motion-springs-medium-bounce-source-mass: 1px;
    --linaria-theme_motion-springs-medium-bounce-source-damping: 18.5px;
    --linaria-theme_motion-springs-medium-bounce-source-stiffness: 100px;
    --linaria-theme_motion-springs-fast-bounce-duration: 667ms;
    --linaria-theme_motion-springs-fast-bounce-easing: linear(0, 0.00683 1.14%, 0.02731 2.35%, 0.11137 5.091%, 0.59413 15.612%, 0.78996 20.792%, 0.92396 25.953%, 0.97109 28.653%, 1.00624 31.503%, 1.03801 36.154%, 1.0477 41.684%, 1.00242 68.787%, 0.99921);
    --linaria-theme_motion-springs-fast-bounce-source-mass: 1px;
    --linaria-theme_motion-springs-fast-bounce-source-damping: 22px;
    --linaria-theme_motion-springs-fast-bounce-source-stiffness: 250px;
    --linaria-theme_motion-springs-slow-duration: 1000ms;
    --linaria-theme_motion-springs-slow-easing: linear(0, 0.00126 0.51%, 0.00495 1.03%, 0.01988 2.14%, 0.04503 3.35%, 0.08097 4.69%, 0.15931 7.101%, 0.36683 12.821%, 0.46668 15.742%, 0.56317 18.892%, 0.64548 22.002%, 0.71683 25.203%, 0.77784 28.533%, 0.82923 32.033%, 0.87207 35.774%, 0.89163 37.884%, 0.90918 40.104%, 0.92471 42.434%, 0.93837 44.894%, 0.95027 47.505%, 0.96052 50.285%, 0.96927 53.275%, 0.97664 56.516%, 0.98722 63.556%, 0.99401 72.257%, 0.99779 83.478%, 0.9995);
    --linaria-theme_motion-springs-slow-source-mass: 1px;
    --linaria-theme_motion-springs-slow-source-damping: 20px;
    --linaria-theme_motion-springs-slow-source-stiffness: 100px;
    --linaria-theme_motion-springs-slow-bounce-duration: 1167ms;
    --linaria-theme_motion-springs-slow-bounce-easing: 0, 0.00172 0.51%, 0.00682 1.03%, 0.02721 2.12%, 0.06135 3.29%, 0.11043 4.58%, 0.21945 6.911%, 0.59552 14.171%, 0.70414 16.612%, 0.79359 18.962%, 0.86872 21.362%, 0.92924 23.822%, 0.97589 26.373%, 1.01 29.083%, 1.0264 31.043%, 1.03767 33.133%, 1.04411 35.404%, 1.04597 37.944%, 1.04058 42.454%, 1.01119 55.646%, 1.00137 63.716%, 0.99791 74.127%, 0.99988;
    --linaria-theme_motion-springs-slow-bounce-source-mass: 1px;
    --linaria-theme_motion-springs-slow-bounce-source-damping: 14px;
    --linaria-theme_motion-springs-slow-bounce-source-stiffness: 100px;
    --linaria-theme_motion-standard-curve-animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
    --linaria-theme_motion-enter-curve-animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
    --linaria-theme_motion-exit-curve-animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    --linaria-theme_motion-linear-curve-animation-timing-function: cubic-bezier(0, 0, 1, 1);
    --linaria-theme_palette-black: #000000;
    --linaria-theme_palette-hof: #222222;
    --linaria-theme_palette-foggy: #6A6A6A;
    --linaria-theme_palette-bobo: #B0B0B0;
    --linaria-theme_palette-deco: #DDDDDD;
    --linaria-theme_palette-bebe: #EBEBEB;
    --linaria-theme_palette-faint: #F7F7F7;
    --linaria-theme_palette-white: #FFFFFF;
    --linaria-theme_palette-arches: #C13515;
    --linaria-theme_palette-arches2: #B32505;
    --linaria-theme_palette-arches12: #FFF8F6;
    --linaria-theme_palette-capiz: #F7F6F2;
    --linaria-theme_palette-hapuna: #F5F1EA;
    --linaria-theme_palette-mykonou5: #428BFF;
    --linaria-theme_palette-ondo: #E07912;
    --linaria-theme_palette-spruce: #008A05;
    --linaria-theme_palette-rausch: #FF385C;
    --linaria-theme_palette-product-rausch: #E00B41;
    --linaria-theme_palette-plus: #92174D;
    --linaria-theme_palette-luxe: #460479;
    --linaria-theme_palette-rausch-gradient-linear-gradient: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    --linaria-theme_palette-rausch-gradient-linear-gradient-rtl: linear-gradient(to left, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    --linaria-theme_palette-rausch-gradient-radial-gradient: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%);
    --linaria-theme_palette-plus-gradient-linear-gradient: linear-gradient(to right, #BD1E59 0%, #92174D 50%, #861453 100%);
    --linaria-theme_palette-plus-gradient-linear-gradient-rtl: linear-gradient(to left, #BD1E59 0%, #92174D 50%, #861453 100%);
    --linaria-theme_palette-plus-gradient-radial-gradient: radial-gradient(circle at center, #D70466 0%, #BD1E59 30%, #92174D 55%, #861453 72.5%, #6C0D63 90%, #6C0D63 100%);
    --linaria-theme_palette-luxe-gradient-linear-gradient: linear-gradient(to right, #59086E 0%, #460479 50%, #440589 100%);
    --linaria-theme_palette-luxe-gradient-linear-gradient-rtl: linear-gradient(to left, #59086E 0%, #460479 50%, #440589 100%);
    --linaria-theme_palette-luxe-gradient-radial-gradient: radial-gradient(circle at center, #6C0D63 0%, #59086E 30%, #460479 55%, #440589 72.5%, #3B07BB 90%, #3B07BB 100%);
    --linaria-theme_palette-bg-primary: #FFFFFF;
    --linaria-theme_palette-bg-primary-disabled: #F7F7F7;
    --linaria-theme_palette-bg-primary-hover: #F7F7F7;
    --linaria-theme_palette-bg-primary-selected: #F7F7F7;
    --linaria-theme_palette-bg-primary-error: #FFF8F6;
    --linaria-theme_palette-bg-primary-core: #FF385C;
    --linaria-theme_palette-bg-primary-luxe: #460479;
    --linaria-theme_palette-bg-primary-plus: #92174D;
    --linaria-theme_palette-bg-primary-inverse: #222222;
    --linaria-theme_palette-bg-primary-inverse-hover: #000000;
    --linaria-theme_palette-bg-primary-inverse-disabled: #DDDDDD;
    --linaria-theme_palette-bg-primary-inverse-error: #C13515;
    --linaria-theme_palette-bg-primary-inverse-error-hover: #B32505;
    --linaria-theme_palette-bg-secondary: #F7F7F7;
    --linaria-theme_palette-bg-secondary-core: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    --linaria-theme_palette-bg-secondary-core-rtl: linear-gradient(to left, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    --linaria-theme_palette-bg-secondary-plus: linear-gradient(to right, #BD1E59 0%, #92174D 50%, #861453 100%);
    --linaria-theme_palette-bg-secondary-plus-rtl: linear-gradient(to left, #BD1E59 0%, #92174D 50%, #861453 100%);
    --linaria-theme_palette-bg-secondary-luxe: linear-gradient(to right, #59086E 0%, #460479 50%, #440589 100%);
    --linaria-theme_palette-bg-secondary-luxe-rtl: linear-gradient(to left, #59086E 0%, #460479 50%, #440589 100%);
    --linaria-theme_palette-bg-secondary-core-hover: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%);
    --linaria-theme_palette-bg-secondary-plus-hover: radial-gradient(circle at center, #D70466 0%, #BD1E59 30%, #92174D 55%, #861453 72.5%, #6C0D63 90%, #6C0D63 100%);
    --linaria-theme_palette-bg-secondary-luxe-hover: radial-gradient(circle at center, #6C0D63 0%, #59086E 30%, #460479 55%, #440589 72.5%, #3B07BB 90%, #3B07BB 100%);
    --linaria-theme_palette-bg-tertiary: #B0B0B0;
    --linaria-theme_palette-bg-tertiary-hover: #6A6A6A;
    --linaria-theme_palette-bg-tertiary-disabled: #EBEBEB;
    --linaria-theme_palette-bg-tertiary-core: #E00B41;
    --linaria-theme_palette-text-primary: #222222;
    --linaria-theme_palette-text-primary-disabled: #DDDDDD;
    --linaria-theme_palette-text-primary-hover: #000000;
    --linaria-theme_palette-text-primary-error: #C13515;
    --linaria-theme_palette-text-primary-error-hover: #B32505;
    --linaria-theme_palette-text-primary-inverse: #FFFFFF;
    --linaria-theme_palette-text-primary-core: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    --linaria-theme_palette-text-secondary: #6A6A6A;
    --linaria-theme_palette-text-secondary-disabled: #DDDDDD;
    --linaria-theme_palette-text-secondary-error: #C13515;
    --linaria-theme_palette-text-secondary-error-hover: #B32505;
    --linaria-theme_palette-text-legal: #428BFF;
    --linaria-theme_palette-icon-primary: #222222;
    --linaria-theme_palette-icon-primary-disabled: #DDDDDD;
    --linaria-theme_palette-icon-primary-hover: #000000;
    --linaria-theme_palette-icon-primary-error: #C13515;
    --linaria-theme_palette-icon-primary-error-hover: #B32505;
    --linaria-theme_palette-icon-primary-inverse: #FFFFFF;
    --linaria-theme_palette-icon-secondary: #6A6A6A;
    --linaria-theme_palette-icon-secondary-hover: #222222;
    --linaria-theme_palette-icon-secondary-selected: #222222;
    --linaria-theme_palette-icon-secondary-disabled: #F7F7F7;
    --linaria-theme_palette-icon-error: #C13515;
    --linaria-theme_palette-icon-warning: #E07912;
    --linaria-theme_palette-icon-info: #428BFF;
    --linaria-theme_palette-icon-success: #008A05;
    --linaria-theme_palette-border-primary: #222222;
    --linaria-theme_palette-border-primary-hover: #000000;
    --linaria-theme_palette-border-primary-disabled: #DDDDDD;
    --linaria-theme_palette-border-primary-inverse: #FFFFFF;
    --linaria-theme_palette-border-secondary: #B0B0B0;
    --linaria-theme_palette-border-secondary-hover: #222222;
    --linaria-theme_palette-border-secondary-selected: #222222;
    --linaria-theme_palette-border-secondary-disabled: #EBEBEB;
    --linaria-theme_palette-border-secondary-error: #C13515;
    --linaria-theme_palette-border-tertiary: #DDDDDD;
    --linaria-theme_palette-border-tertiary-hover: #000000;
    --linaria-theme_palette-border-tertiary-selected: #222222;
    --linaria-theme_palette-border-tertiary-error: #C13515;
    --linaria-theme_palette-border-tertiary-error-hover: #B32505;
    --linaria-theme_palette-shadow50: rgba(0, 0, 0, 0.04);
    --linaria-theme_palette-shadow100: rgba(0, 0, 0, 0.08);
    --linaria-theme_palette-shadow150: rgba(0, 0, 0, 0.12);
    --linaria-theme_palette-shadow200: rgba(0, 0, 0, 0.135);
    --linaria-theme_palette-shadow250: rgba(0, 0, 0, 0.18);
    --linaria-theme_palette-shadow300: rgba(0, 0, 0, 0.20);
    --linaria-theme_palette-shadow350: rgba(0, 0, 0, 0.28);
    --linaria-theme_palette-shadow600: rgba(0, 0, 0, 0.60);
    --linaria-theme_spacing-macro16px: 16px;
    --linaria-theme_spacing-macro24px: 24px;
    --linaria-theme_spacing-macro32px: 32px;
    --linaria-theme_spacing-macro40px: 40px;
    --linaria-theme_spacing-macro48px: 48px;
    --linaria-theme_spacing-macro64px: 64px;
    --linaria-theme_spacing-macro80px: 80px;
    --linaria-theme_spacing-micro2px: 2px;
    --linaria-theme_spacing-micro4px: 4px;
    --linaria-theme_spacing-micro8px: 8px;
    --linaria-theme_spacing-micro12px: 12px;
    --linaria-theme_spacing-micro16px: 16px;
    --linaria-theme_spacing-micro24px: 24px;
    --linaria-theme_spacing-micro32px: 32px;
    --linaria-theme_typography-font-family-cereal-font-family: 'Cereal', 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
    --linaria-theme_typography-special-display-medium_40_44-font-size: 2.5rem;
    --linaria-theme_typography-special-display-medium_40_44-line-height: 2.75rem;
    --linaria-theme_typography-special-display-medium_40_44-letter-spacing: normal;
    --linaria-theme_typography-special-display-medium_40_44-font-weight: 600;
    --linaria-theme_typography-special-display-medium_48_54-font-size: 3rem;
    --linaria-theme_typography-special-display-medium_48_54-line-height: 3.375rem;
    --linaria-theme_typography-special-display-medium_48_54-letter-spacing: normal;
    --linaria-theme_typography-special-display-medium_48_54-font-weight: 600;
    --linaria-theme_typography-special-display-medium_60_68-font-size: 3.75rem;
    --linaria-theme_typography-special-display-medium_60_68-line-height: 4.25rem;
    --linaria-theme_typography-special-display-medium_60_68-letter-spacing: normal;
    --linaria-theme_typography-special-display-medium_60_68-font-weight: 600;
    --linaria-theme_typography-special-display-medium_72_74-font-size: 4.5rem;
    --linaria-theme_typography-special-display-medium_72_74-line-height: 4.625rem;
    --linaria-theme_typography-special-display-medium_72_74-letter-spacing: normal;
    --linaria-theme_typography-special-display-medium_72_74-font-weight: 600;
    --linaria-theme_typography-title-extra-small18px-font-size: 1.125rem;
    --linaria-theme_typography-title-extra-small18px-line-height: 1.375rem;
    --linaria-theme_typography-title-extra-small18px-letter-spacing: normal;
    --linaria-theme_typography-title-small22px-font-size: 1.375rem;
    --linaria-theme_typography-title-small22px-line-height: 1.625rem;
    --linaria-theme_typography-title-small22px-letter-spacing: normal;
    --linaria-theme_typography-title-medium26px-font-size: 1.625rem;
    --linaria-theme_typography-title-medium26px-line-height: 1.875rem;
    --linaria-theme_typography-title-medium26px-letter-spacing: normal;
    --linaria-theme_typography-title-large32px-font-size: 2rem;
    --linaria-theme_typography-title-large32px-line-height: 2.25rem;
    --linaria-theme_typography-title-large32px-letter-spacing: normal;
    --linaria-theme_typography-base-extra-small10px-font-size: 0.625rem;
    --linaria-theme_typography-base-extra-small10px-line-height: 0.75rem;
    --linaria-theme_typography-base-extra-small10px-letter-spacing: normal;
    --linaria-theme_typography-base-small12px-font-size: 0.75rem;
    --linaria-theme_typography-base-small12px-line-height: 1rem;
    --linaria-theme_typography-base-small12px-letter-spacing: normal;
    --linaria-theme_typography-base-medium14px-font-size: 0.875rem;
    --linaria-theme_typography-base-medium14px-line-height: 1.125rem;
    --linaria-theme_typography-base-medium14px-letter-spacing: normal;
    --linaria-theme_typography-base-medium-tall14px-font-size: 0.875rem;
    --linaria-theme_typography-base-medium-tall14px-line-height: 1.25rem;
    --linaria-theme_typography-base-medium-tall14px-letter-spacing: normal;
    --linaria-theme_typography-base-large16px-font-size: 1rem;
    --linaria-theme_typography-base-large16px-line-height: 1.25rem;
    --linaria-theme_typography-base-large16px-letter-spacing: normal;
    --linaria-theme_typography-base-large-tall16px-font-size: 1rem;
    --linaria-theme_typography-base-large-tall16px-line-height: 1.5rem;
    --linaria-theme_typography-base-large-tall16px-letter-spacing: normal;
    --linaria-theme_typography-base-extra-large18px-font-size: 1.125rem;
    --linaria-theme_typography-base-extra-large18px-line-height: 1.5rem;
    --linaria-theme_typography-base-extra-large18px-letter-spacing: normal;
    --linaria-theme_typography-base-extra-large-tall18px-font-size: 1.125rem;
    --linaria-theme_typography-base-extra-large-tall18px-line-height: 1.75rem;
    --linaria-theme_typography-base-extra-large-tall18px-letter-spacing: normal;
    --linaria-theme_typography-caption12px-font-size: 0.75rem;
    --linaria-theme_typography-caption12px-line-height: 1rem;
    --linaria-theme_typography-caption12px-letter-spacing: normal;
    --linaria-theme_typography-weight-medium: 500;
    --linaria-theme_typography-weight-bold: 700;
    --linaria-theme_typography-weight-book400: 400;
    --linaria-theme_typography-weight-medium500: 500;
    --linaria-theme_typography-weight-medium600: 600;
    --linaria-theme_typography-weight-bold800: 800;
    --linaria-theme_typography-tracking-normal-letter-spacing: normal;
    --linaria-theme_typography-tracking-wide-letter-spacing: 0.04em;
    --list-row-dynamic-visibility: initial;
    --pricing-guest-display-price-alignment: flex-start;
    --pricing-guest-display-price-flex-wrap: wrap;
    --pricing-guest-primary-line-font-size: 0.9375rem;
    --pricing-guest-primary-line-line-height: 1.1875rem;
    --pricing-guest-primary-line-unit-price-font-weight: var(--linaria-theme_typography-weight-medium600);
    --pricing-guest-primary-line-trailing-content-font-size: 0.875rem;
    --pricing-guest-secondary-line-font-size: 0.9375rem;
    --pricing-guest-secondary-line-line-height: 1.1875rem;
    --pricing-guest-secondary-line-color: #6A6A6A;
    --pricing-guest-explanation-disclaimer-font-size: 0.875rem;
    --pricing-guest-explanation-disclaimer-line-height: 1.125rem;
    --pricing-guest-primary-line-strikethrough-price-font-weight: 600;
    --pricing-guest-primary-line-qualifier-font-size: 0.9375rem;
    --pricing-guest-primary-line-qualifier-line-height: 19px;
}